# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\alvar\Dropbox\My PC (LAPTOP-HVLFCORQ)\Documents\Cursos_de_la_universidad\2021\Bases_de_datos_1\mi-tec-digital\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
